.encryption-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    width: 50%;
}

.decryption-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
    width: 50%;
}